body {
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-size: 40px 40px;
  background-image: 
  linear-gradient(to bottom, rgba(75, 75, 75, 0.1), transparent 2px),
  linear-gradient(to right, rgba(75, 75, 75, 0.1), transparent 2px);
}

.folder {
  display: inline-block;
  text-align: center;
}

.container {
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
}

.folder img {
  cursor: pointer;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease;
}

.folder img:hover {
  transform: scale(1.1);
}

.modal-content {
  background-color: white;  
  border-radius: 15px;
  width: 45%;
  max-width: 500px;
  height: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  z-index: 10;
  overflow: auto;
}

.modal-content h1 {
  font-size: 1.5rem;
  text-align: center;
}

.close-button {
  font-size: 25px;
  position: absolute;
  top:5px;
  right: 10px;
  background: none;
  cursor: pointer;
  border: none; 
  transition: transform 0.5s ease;
}

.close-button:hover {
  transform: scale(1.5);
}

.todo {
    width: 80%;
    margin: 30px auto 0 auto;
    justify-content: space-between;
}

.todo ul {
  margin: 20px 0; 
  padding-left:0; 
}


.todo input {
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 0 5px 5px;
  width: 70%;
  margin-right: 10px;
}

.to-do-button {
  background: rgb(146, 231, 19);
  color: white;
  border: none;
  padding: 5px 23px;
  cursor: pointer;
}

.todo-action {
  display: flex;
  justify-content: space-between;
}

.list {
  /* position: relative; */
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.list .content {
  flex: 1;
  overflow-wrap: anywhere;
  word-break: break-all;
  margin-right: 10px;
}

.list input[type="checkbox"] {
  display: none;
}

.list button {
  border: none;
  background-color: red;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}
.list .checkmark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.list input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 6px;
  height: 12px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}